<a href="https://colab.research.google.com/github/KevinAlexanderP/DataScience-2023---Alex/blob/main/DataScience/DataFrames_Lessons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1 DataFrames**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [ ]:
## we declare the index and col variables
myindex = ['CA','NY','AZ','OR']
mycols = ['JAN','FEB','MARCH']

In [ ]:
##creating a dataFrame
df=pd.DataFrame(mydata)

In [ ]:
##plot out the DF
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [ ]:
##creating a dataFrame
df=pd.DataFrame(data=mydata,index=myindex,columns=mycols)
df

    JAN  FEB  MARCH
CA   95   11     81
NY   70   63     87
AZ   75    9     77
OR   40    4     63

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to OR
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAN     4 non-null      int64
 1   FEB     4 non-null      int64
 2   MARCH   4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [ ]:
pwd
## printing current wd

'/content'

In [ ]:
##Reading a csv with pandas
# pd.read_csv()

In [ ]:
##printing out all the columns
df.columns

In [ ]:
##index of the dataframe
df.index

In [ ]:
##head of the dataframe
df.head(10)

In [ ]:
##tail of the dataframe
df.tail(10)

In [ ]:
df.info()

In [ ]:
df.describe()
##gives out the basics of stats

In [ ]:
df.describe().transpose()

## it transposes the values

In [ ]:
type(df['total_bill'])
## It prints out the type of the column "total bill"

In [ ]:
my_cols=["a","b","c"]
##defined cols
df[my_cols]
##subset of the defined cols

In [ ]:
df['price_per_person']= np.round(df['total_bill']/df['size'],2)

In [ ]:
df.drop('tip_percentage',axis=1)

In [ ]:
df.shape 
## returns the shape (cols and rows)

In [ ]:
df.shape[0] 
## or 1 , returns the quantity of parameters

In [ ]:
df.index
##returns the index

In [ ]:
df.set_index('Payment')

In [ ]:
df.reset_index()

In [ ]:
df.iloc[0]

In [ ]:
df.loc['some-value-here']
## some values hre
df.loc[[1,2,3,4,5]

In [ ]:
onw_row = df.iloc[0]

df = df.append(onw_row)
## we append the row that we sleected on the variable

In [ ]:
bool_series = df['total_bill'] > 40
print(bool_series)
## we basically create a condition then we iterate over the col to seek for the values

In [ ]:
df[bool_series]